In [1]:
from data_generator import write_to_csv
write_to_csv('data_generation.csv', 10000)

In [2]:
import pandas as pd
data=pd.read_csv("data_generation.csv")
data.head()

,Order_Id,Customer_Id,Customer_Name,Product_Id,Product_Category,Product_Name,Payment_Type,Quantity_ordered,Price,Date_and_Time_When_Order_Was_Placed,Customer_Country,Customer_City,Site_From_Where_Order_Was_Placed,Payment_Transaction_Confirmation_Id,Payment_Success_or_Failure,Payment_Failure_Reason
0,fbca73c2-20dd-4fa3-8f58-896fa095b98b,2c8c616d-a738-44d3-a2f1-e853b63dcb00,Anthony Singh,108b3f71-5c83-4573-931c-5dad36155b6b,Sports,Tennis Racket,UPI,5,438.28,2020-12-31 04:42:58,UK,Manchester,eBay,bc022562-1134-4730-bf04-93087207b99f,Y,Payment Successful
1,d4876263-fda6-4238-81ae-9c90ee15bc88,30c90575-c9df-42dd-a120-0cb0b34085e6,Erik Phillips,530548bf-076d-456e-89e4-28749b8a6dd5,Sports,Gym Gloves,Card,4,259.57,2023-08-22 07:36:21,Canada,Ottawa,Walmart,d2e2a42e-d200-4e39-afcd-c95ddca9687b,N,Card expired
2,86a41b72-a925-4c67-8307-ebcfe6ad58ac,30da8fa4-acf9-43f9-a3f0-c70902ad2ffb,Carrie Wilson,422eb5af-b232-427d-82ba-ba763d9d12c3,Electronics,Smartphones,UPI,1,599.26,2022-06-06 10:35:39,USA,New York,Walmart,4014dacc-ec36-437a-9580-1305f27221bc,Y,Payment Successful
3,0c93d203-f380-42b8-99d4-1b75396dbb5f,e97cb864-ba29-4da0-8163-d3b46b93b102,Larry French,c4438da1-aa10-496c-a5a1-b174f4cf34b8,Books,Magazines,UPI,4,547.56,2021-12-23 07:17:00,Germany,Hamburg,Amazon,ec024601-7ccb-46cf-a518-d04389153b24,N,Payment gateway error
4,494f4c64-0f22-49be-9ad6-b9f6ef127f17,79ba68b5-f38f-4ce0-8401-0a10a5e27082,Rebecca Wright,15c8b31b-4a40-4222-a03a-96c2201a9307,Electronics,Smartphones,Internet Banking,3,82.41,2021-08-12 21:52:15,Canada,Ottawa,Shopify,0966d75b-977c-4ebb-85af-17dcb02b6794,N,Insufficient funds

In [3]:
data.count()

Order_Id                               10000
Customer_Id                            10000
Customer_Name                          10000
Product_Id                             10000
Product_Category                       10000
Product_Name                           10000
Payment_Type                           10000
Quantity_ordered                       10000
Price                                  10000
Date_and_Time_When_Order_Was_Placed    10000
Customer_Country                       10000
Customer_City                          10000
Site_From_Where_Order_Was_Placed       10000
Payment_Transaction_Confirmation_Id    10000
Payment_Success_or_Failure             10000
Payment_Failure_Reason                 10000
dtype: int64

In [4]:
import Rough_data_generation as rough


num_records = 100  # Adjust as needed
orders_df = rough.generate_records(num_records)
rough.save_to_csv(orders_df, 'rough_data.csv')

Data saved to rough_data.csv

In [5]:
rough_data=pd.read_csv("rough_data.csv")
rough_data.head()

,Order_Id,Customer_Id,Customer_Name,Product_Id,Product_Name,Product_Category,Payment_Type,Quantity_ordered,Price,Date_and_Time_When_Order_Was_Placed,Customer_Country,Customer_City,Site_From_Where_Order_Was_Placed,Payment_Transaction_Confirmation_Id,Payment_Success_or_Failure,Payment_Failure_Reason
0,InvalidUUID,123e4567-e89b-12d3-a456-426614174000,Customer_0,123e4567-e89b-12d3-a456-426614174000,Widget C,Books,Credit Card,4,676.85,2024-03-05 14:32:02.014241,USA,City_0,eBay,123e4567-e89b-12d3-a456-426614174000,Y,NaN
1,123e4567-e89b-12d3-a456-426614174001,InvalidCustomerId,Customer_1,123e4567-e89b-12d3-a456-426614174001,Widget B,Books,Bank Transfer,5,242.6,2023-12-18 14:32:02.014241,USA,City_1,Shopify,123e4567-e89b-12d3-a456-426614174001,N,NaN
2,123e4567-e89b-12d3-a456-426614174002,123e4567-e89b-12d3-a456-426614174002,Customer_2,InvalidProductId,Widget A,Electronics,Bank Transfer,5,666.94,2024-04-16 14:32:02.014241,USA,City_2,Flipkart,123e4567-e89b-12d3-a456-426614174002,Y,Insufficient Funds
3,123e4567-e89b-12d3-a456-426614174003,123e4567-e89b-12d3-a456-426614174003,Customer_3,123e4567-e89b-12d3-a456-426614174003,Widget A,InvalidCategory,Gift Card,4,907.89,2023-11-26 14:32:02.014241,USA,City_3,Flipkart,123e4567-e89b-12d3-a456-426614174003,N,Payment Gateway Error
4,123e4567-e89b-12d3-a456-426614174004,123e4567-e89b-12d3-a456-426614174004,Customer_4,123e4567-e89b-12d3-a456-426614174004,Widget E,Electronics,Bank Transfer,-1,137.01,2023-10-26 14:32:02.014241,UK,City_4,Walmart,123e4567-e89b-12d3-a456-426614174004,N,NaN

In [6]:
rough_data.count()

Order_Id                               100
Customer_Id                            100
Customer_Name                          100
Product_Id                             100
Product_Name                           100
Product_Category                       100
Payment_Type                           100
Quantity_ordered                       100
Price                                  100
Date_and_Time_When_Order_Was_Placed    100
Customer_Country                       100
Customer_City                          100
Site_From_Where_Order_Was_Placed       100
Payment_Transaction_Confirmation_Id    100
Payment_Success_or_Failure             100
Payment_Failure_Reason                  48
dtype: int64

In [8]:
# main.py
from data_handling import load_data, save_data, generate_fake_data

def main(input_file, output_file):
    """Main function to process the CSV file."""
    df = load_data(input_file)
    df = generate_fake_data(df)
    save_data(df, output_file)
    print("Data processed and saved successfully!")

# Define your input and output CSV file paths
input_file = 'rough_data.csv'  # Replace with your input CSV file path
output_file = 'handling_rough_data.csv'  # Define your output CSV file path

# Call the main function with the defined paths
main(input_file, output_file)

Data processed and saved successfully!

In [9]:
data=pd.read_csv("handling_rough_data.csv")

In [10]:
data.columns

Index(['Order_Id', 'Customer_Id', 'Customer_Name', 'Product_Id',
       'Product_Category', 'Product_Name', 'Quantity_ordered', 'Price',
       'Date_and_Time_When_Order_Was_Placed', 'Customer_Country',
       'Customer_City', 'Site_From_Where_Order_Was_Placed', 'Payment_Type',
       'Payment_Transaction_Confirmation_Id', 'Payment_Success_or_Failure',
       'Payment_Failure_Reason'],
      dtype='object')

In [11]:
data.head()

,Order_Id,Customer_Id,Customer_Name,Product_Id,Product_Category,Product_Name,Quantity_ordered,Price,Date_and_Time_When_Order_Was_Placed,Customer_Country,Customer_City,Site_From_Where_Order_Was_Placed,Payment_Type,Payment_Transaction_Confirmation_Id,Payment_Success_or_Failure,Payment_Failure_Reason
0,1da64e40-8649-4568-9eee-2167ce50af2c,123e4567-e89b-12d3-a456-426614174000,Elizabeth Pope,123e4567-e89b-12d3-a456-426614174000,Sports,Football,4,676.85,2024-03-05 14:32:02.014241,UK,Birmingham,eBay,Wallet,123e4567-e89b-12d3-a456-426614174000,Y,No Reason Provided
1,123e4567-e89b-12d3-a456-426614174001,411ec6d7-824b-44dc-bb5e-7b2e865cff3a,Sharon Barton,123e4567-e89b-12d3-a456-426614174001,Clothing,Socks,5,242.60,2023-12-18 14:32:02.014241,UK,Glasgow,Shopify,UPI,123e4567-e89b-12d3-a456-426614174001,N,No Reason Provided
2,123e4567-e89b-12d3-a456-426614174002,123e4567-e89b-12d3-a456-426614174002,Jennifer Franco,6a0d4d3f-ccbf-4a79-ba62-ed7382b20898,Books,Non-Fiction,5,666.94,2024-04-16 14:32:02.014241,Canada,Ottawa,Flipkart,Wallet,123e4567-e89b-12d3-a456-426614174002,Y,Insufficient Funds
3,123e4567-e89b-12d3-a456-426614174003,123e4567-e89b-12d3-a456-426614174003,Amber Newton,123e4567-e89b-12d3-a456-426614174003,Electronics,Smartphones,4,907.89,2023-11-26 14:32:02.014241,UK,Manchester,Flipkart,Wallet,123e4567-e89b-12d3-a456-426614174003,N,Payment Gateway Error
4,123e4567-e89b-12d3-a456-426614174004,123e4567-e89b-12d3-a456-426614174004,Daniel Smith,123e4567-e89b-12d3-a456-426614174004,Home & Kitchen,Toothpaste,1,137.01,2023-10-26 14:32:02.014241,Germany,Munich,Walmart,Card,123e4567-e89b-12d3-a456-426614174004,N,No Reason Provided

In [12]:
#merge 

import pandas as pd

# Load the two CSV files
df1 = pd.read_csv('data_generation.csv')
df2 = pd.read_csv('handling_rough_data.csv')

# Append df1 (fake data) to df2 (transaction data) using pd.concat
appended_df = pd.concat([df2, df1], ignore_index=True)

# Save the appended DataFrame to a new CSV file
appended_df.to_csv('final_data.csv', index=False)

print("CSV files appended successfully and saved as 'appended_data.csv'")

CSV files appended successfully and saved as 'appended_data.csv'

In [13]:
final_data=pd.read_csv("final_data.csv")
final_data.columns

Index(['Order_Id', 'Customer_Id', 'Customer_Name', 'Product_Id',
       'Product_Category', 'Product_Name', 'Quantity_ordered', 'Price',
       'Date_and_Time_When_Order_Was_Placed', 'Customer_Country',
       'Customer_City', 'Site_From_Where_Order_Was_Placed', 'Payment_Type',
       'Payment_Transaction_Confirmation_Id', 'Payment_Success_or_Failure',
       'Payment_Failure_Reason'],
      dtype='object')

In [14]:
final_data.head()

,Order_Id,Customer_Id,Customer_Name,Product_Id,Product_Category,Product_Name,Quantity_ordered,Price,Date_and_Time_When_Order_Was_Placed,Customer_Country,Customer_City,Site_From_Where_Order_Was_Placed,Payment_Type,Payment_Transaction_Confirmation_Id,Payment_Success_or_Failure,Payment_Failure_Reason
0,1da64e40-8649-4568-9eee-2167ce50af2c,123e4567-e89b-12d3-a456-426614174000,Elizabeth Pope,123e4567-e89b-12d3-a456-426614174000,Sports,Football,4,676.85,2024-03-05 14:32:02.014241,UK,Birmingham,eBay,Wallet,123e4567-e89b-12d3-a456-426614174000,Y,No Reason Provided
1,123e4567-e89b-12d3-a456-426614174001,411ec6d7-824b-44dc-bb5e-7b2e865cff3a,Sharon Barton,123e4567-e89b-12d3-a456-426614174001,Clothing,Socks,5,242.60,2023-12-18 14:32:02.014241,UK,Glasgow,Shopify,UPI,123e4567-e89b-12d3-a456-426614174001,N,No Reason Provided
2,123e4567-e89b-12d3-a456-426614174002,123e4567-e89b-12d3-a456-426614174002,Jennifer Franco,6a0d4d3f-ccbf-4a79-ba62-ed7382b20898,Books,Non-Fiction,5,666.94,2024-04-16 14:32:02.014241,Canada,Ottawa,Flipkart,Wallet,123e4567-e89b-12d3-a456-426614174002,Y,Insufficient Funds
3,123e4567-e89b-12d3-a456-426614174003,123e4567-e89b-12d3-a456-426614174003,Amber Newton,123e4567-e89b-12d3-a456-426614174003,Electronics,Smartphones,4,907.89,2023-11-26 14:32:02.014241,UK,Manchester,Flipkart,Wallet,123e4567-e89b-12d3-a456-426614174003,N,Payment Gateway Error
4,123e4567-e89b-12d3-a456-426614174004,123e4567-e89b-12d3-a456-426614174004,Daniel Smith,123e4567-e89b-12d3-a456-426614174004,Home & Kitchen,Toothpaste,1,137.01,2023-10-26 14:32:02.014241,Germany,Munich,Walmart,Card,123e4567-e89b-12d3-a456-426614174004,N,No Reason Provided

In [15]:
#data exploration 

# Check for null values in each column
null_values = final_data.isnull().sum()

# Display the result
print(null_values)

Order_Id                               0
Customer_Id                            0
Customer_Name                          0
Product_Id                             0
Product_Category                       0
Product_Name                           0
Quantity_ordered                       0
Price                                  0
Date_and_Time_When_Order_Was_Placed    0
Customer_Country                       0
Customer_City                          0
Site_From_Where_Order_Was_Placed       0
Payment_Type                           0
Payment_Transaction_Confirmation_Id    0
Payment_Success_or_Failure             0
Payment_Failure_Reason                 0
dtype: int64

In [16]:
# Check for duplicate rows
duplicate_values = final_data.duplicated().sum()

# Display the result
print(f"Number of duplicate rows: {duplicate_values}")

Number of duplicate rows: 0

In [17]:
# Check data types of all columns
data_types = final_data.dtypes

# Display the result
print(data_types)

Order_Id                                object
Customer_Id                             object
Customer_Name                           object
Product_Id                              object
Product_Category                        object
Product_Name                            object
Quantity_ordered                         int64
Price                                  float64
Date_and_Time_When_Order_Was_Placed     object
Customer_Country                        object
Customer_City                           object
Site_From_Where_Order_Was_Placed        object
Payment_Type                            object
Payment_Transaction_Confirmation_Id     object
Payment_Success_or_Failure              object
Payment_Failure_Reason                  object
dtype: object

In [18]:
# Get a concise summary of the DataFrame
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10100 entries, 0 to 10099
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Order_Id                             10100 non-null  object
 1   Customer_Id                          10100 non-null  object
 2   Customer_Name                        10100 non-null  object
 3   Product_Id                           10100 non-null  object
 4   Product_Category                     10100 non-null  object
 5   Product_Name                         10100 non-null  object
 6   Quantity_ordered                     10100 non-null  int64
 7   Price                                10100 non-null  float64
 8   Date_and_Time_When_Order_Was_Placed  10100 non-null  object
 9   Customer_Country                     10100 non-null  object
 10  Customer_City                        10100 non-null  object
 11  Site_From_Where_Order_Was_Placed     10100 non-null  object
 12  Payment_Type                         10100 non-null  object
 13  Payment_Transaction_Confirmation_Id  10100 non-null  object
 14  Payment_Success_or_Failure           10100 non-null  object
 15  Payment_Failure_Reason               10100 non-null  object
dtypes: float64(1), int64(1), object(14)
memory usage: 1.2+ MB

In [19]:
'''
final_data['Date_and_Time_When_Order_Was_Placed'] = pd.to_datetime(final_data['Date_and_Time_When_Order_Was_Placed'])

throw error :because The error you're encountering suggests that the string representations of the date and time 
in your DataFrame do not match the format you specified while converting them to a datetime object. In this case,
the string "2020-08-26 13:25:17" does not have the fractional second part (i.e., .ffffff) that your 
format "%Y-%m-%d %H:%M:%S.%f" expects.

solu:
final_data['Date_and_Time_When_Order_Was_Placed'] = pd.to_datetime(final_data['Date_and_Time_When_Order_Was_Placed'], format='ISO8601')
Use ISO8601 Format: If the strings are in a consistent ISO8601 format, you can convert them without specifying a format:

'''


final_data['Date_and_Time_When_Order_Was_Placed'] = pd.to_datetime(final_data['Date_and_Time_When_Order_Was_Placed'], format='ISO8601')
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10100 entries, 0 to 10099
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Order_Id                             10100 non-null  object
 1   Customer_Id                          10100 non-null  object
 2   Customer_Name                        10100 non-null  object
 3   Product_Id                           10100 non-null  object
 4   Product_Category                     10100 non-null  object
 5   Product_Name                         10100 non-null  object
 6   Quantity_ordered                     10100 non-null  int64
 7   Price                                10100 non-null  float64
 8   Date_and_Time_When_Order_Was_Placed  10100 non-null  datetime64[ns]
 9   Customer_Country                     10100 non-null  object
 10  Customer_City                        10100 non-null  object
 11  Site_From_Where_Order_Was_Placed     10100 non-null  object
 12  Payment_Type                         10100 non-null  object
 13  Payment_Transaction_Confirmation_Id  10100 non-null  object
 14  Payment_Success_or_Failure           10100 non-null  object
 15  Payment_Failure_Reason               10100 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(13)
memory usage: 1.2+ MB

In [20]:
df= pd.read_csv("final_data.csv")
df.head()

,Order_Id,Customer_Id,Customer_Name,Product_Id,Product_Category,Product_Name,Quantity_ordered,Price,Date_and_Time_When_Order_Was_Placed,Customer_Country,Customer_City,Site_From_Where_Order_Was_Placed,Payment_Type,Payment_Transaction_Confirmation_Id,Payment_Success_or_Failure,Payment_Failure_Reason
0,1da64e40-8649-4568-9eee-2167ce50af2c,123e4567-e89b-12d3-a456-426614174000,Elizabeth Pope,123e4567-e89b-12d3-a456-426614174000,Sports,Football,4,676.85,2024-03-05 14:32:02.014241,UK,Birmingham,eBay,Wallet,123e4567-e89b-12d3-a456-426614174000,Y,No Reason Provided
1,123e4567-e89b-12d3-a456-426614174001,411ec6d7-824b-44dc-bb5e-7b2e865cff3a,Sharon Barton,123e4567-e89b-12d3-a456-426614174001,Clothing,Socks,5,242.60,2023-12-18 14:32:02.014241,UK,Glasgow,Shopify,UPI,123e4567-e89b-12d3-a456-426614174001,N,No Reason Provided
2,123e4567-e89b-12d3-a456-426614174002,123e4567-e89b-12d3-a456-426614174002,Jennifer Franco,6a0d4d3f-ccbf-4a79-ba62-ed7382b20898,Books,Non-Fiction,5,666.94,2024-04-16 14:32:02.014241,Canada,Ottawa,Flipkart,Wallet,123e4567-e89b-12d3-a456-426614174002,Y,Insufficient Funds
3,123e4567-e89b-12d3-a456-426614174003,123e4567-e89b-12d3-a456-426614174003,Amber Newton,123e4567-e89b-12d3-a456-426614174003,Electronics,Smartphones,4,907.89,2023-11-26 14:32:02.014241,UK,Manchester,Flipkart,Wallet,123e4567-e89b-12d3-a456-426614174003,N,Payment Gateway Error
4,123e4567-e89b-12d3-a456-426614174004,123e4567-e89b-12d3-a456-426614174004,Daniel Smith,123e4567-e89b-12d3-a456-426614174004,Home & Kitchen,Toothpaste,1,137.01,2023-10-26 14:32:02.014241,Germany,Munich,Walmart,Card,123e4567-e89b-12d3-a456-426614174004,N,No Reason Provided

In [21]:
#gcs

from gcs_utils import GCSHandler  # Correctly import the GCSHandler class

# Replace with your desired bucket name
bucket_name = 'rev-project-p2'  # Change to your desired bucket name
    
# Create an instance of GCSHandler
gcs_handler = GCSHandler()
    
# Call the create_bucket method
gcs_handler.create_bucket(bucket_name)

Using credentials from: C:\Users\manoj\Downloads\manojrevature-e4feec87380a.json
Bucket rev-project-p2 already exists.

In [22]:
#list all the buckets

gcs_handler.list_buckets()

Buckets in the project:
rev-project-p2